body{
    background-color: rgb(251, 255, 0);
}

header {
    background-color: black;
    padding: 10px;
}

ul {
    list-style-type: none;
    background-color: grey;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-family: Gill Sans;
    font-size: 25px;
  }

li a:hover{
    background-color: black;
  }