/* rizkidy.html */
body {
    text-align: center;
    background-image: linear-gradient(to bottom right, red, yellow, green);
    background-repeat: no-repeat;
}

.navbar{
 margin-left: 212px;
 margin-right: 212px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}

.main {
    width: 800px;
    height: 770px;
    background-image: url(wave.svg);
    background-color: white;
    background-size: cover;
    background-position: bottom;
    margin: 0 auto;
    padding: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

h1 {
    text-align: center;
}

h3 {
    text-align: left;
}

ul {
    text-align: left;
}

ol {
    text-align: left;
}

a img {
    padding: 3px;
    margin: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

/* portofolio.html */

.portofolio{
    width: 800px;
    height: 540px;
    background-image: url(wave.svg);
    background-color: white;
    background-size: cover;
    background-position: bottom;
    margin: 0 auto;
    padding: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}


table{
    text-align: center;
    color: white;
    background-image: linear-gradient(black, #b900e3, #f720a1, black);
}

td{
    text-align: left;
    font-size: 13px;
    padding: 12px;
}

#sosmedH3{
    text-align: center;
}

/* Kritik dan Saran */

.sartik{
    width: 800px;
    height: 540px;
    background-image: url(wave.svg);
    background-color: white;
    background-size: cover;
    background-position: bottom;
    margin: 0 auto;
    padding: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

#email{
    padding-right: 342px;
}

#inputEmail{
    padding-right: 215px;
}

#kritik{
    padding-right: 272px;
}

input{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 3px;
}