/* rizkidy.html */
body {
    margin: 0;
    text-align: center;
    /* background-color: black; */
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.navbar{
 margin-left: 220px;
 margin-right: 220px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 35px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    background-color: #8c8c8c;
}

.active {
    background-color: #ff3d3d;
}


.main {
    width: 800px;
    height: 770px;
    background-image: url(wave.svg);
    background-color: white;
    background-size: cover;
    background-position: bottom;
    margin: 0 auto;
    padding: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

h1 {
    text-align: center;
}

h3 {
    text-align: left;
}

ul {
    text-align: left;
}

ol {
    text-align: left;
}

@media screen and (max-width: 576px){
    a img {
        float: left;
    }    
}

a img {
    padding: 3px;
    margin: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
} 

/* portofolio.html */

.portofolio{
    width: 800px;
    height: 540px;
    background-image: url(wave.svg);
    background-color: white;
    background-size: cover;
    background-position: bottom;
    margin: 0 auto;
    padding: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}


table{
    text-align: center;
    color: white;
    background-image: linear-gradient(black, #b900e3, #f720a1, black);
}

td{
    text-align: left;
    font-size: 13px;
    padding: 12px;
}

#sosmedH3{
    text-align: center;
}

/* Kritik dan Saran */

.sartik{
    width: 800px;
    height: 540px;
    background-image: url(wave.svg);
    background-color: white;
    background-size: cover;
    background-position: bottom;
    margin: 0 auto;
    padding: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

@media(max-width: 576px){
    .sartik > form {
        width: 100%;
    }
}

#email{
    padding-right: 342px;
}

#inputEmail{
    padding-right: 215px;
}

#kritik{
    padding-right: 272px;
}

input{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 3px;
}